.App {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Carme', sans-serif;
  color: gray;
  background: linear-gradient(
    135deg,
    rgba(163, 97, 21, 1) 0%,
    rgba(163, 97, 21, 1) 50%,
    rgba(109, 140, 171, 1) 50%,
    rgba(109, 140, 171, 1) 100%
  );
}
